body{
    margin: 0;
    height: 100%;
}

.logo-bioleo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-bioleo1{
   max-width: 600px;
    width: 100%;
    padding-top: 60px;
}

.name-of-company{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bioleo{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #eb913b;
}

.name-of-company1{
    padding: 0 20px;
    /*background: #355595;*/
    border-radius: 20px;
    margin: 0 10px;
}

.bioleo1{
    text-align: center;
    color: #355595;
}

.about-company{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
    padding: 0 20px;
}

.photo-about-company1{
    max-width: 500px;
    border-radius: 100px;
}

.text-about-company1{
    text-align: center;
    font-size: large;
    font-weight: 800;
    color: #355595;
}

@media (max-width :820px){
    .about-company{
        display: flex;
        flex-direction: column;
    }

    .photo-about-company1{
        max-width: 500px;
        border-radius: 100px;
        width: 100%;
    }

}

.advantages1{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.squer{
    width: 30px;
    height: 10px;
    background: #FFC107;
}

.text-advantages{
    color: #355595;
    font-weight: 700;
}

.advantages{
    margin-top: 20px;
    padding: 0 20px;
}

.pre-advantage{
    margin-top: 20px;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #355595;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.contacts1{
    color: #eb913b;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}


.header{
    padding-left: 10px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    flex-direction: row-reverse;
    background: #355595;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.ua{
    background: none;
    border: 2px solid #eb913b;
    height: 30px;
}

.ua1{
    color: #eb913b;
    text-decoration: none;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: #eb913b;
    border: 2px solid #eb913b;
    width: 40px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #eb913b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
    font-weight: 700;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*.photo-bioleo-man1{*/
/*    max-width: 800px;*/
/*    width: 100%;*/
/*}*/

/*.bioleo-man1{*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

/*.bioleo-man2{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    padding-right: 10px;*/
/*}*/

.bioleo-man {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0; /* Чтобы было куда скроллить */
}

.bioleo-man1, .bioleo-man2 {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s, opacity 1s;
}

.bioleo-man2 {
    transform: translateX(100%);
}

.bioleo-man.visible .bioleo-man1, .bioleo-man.visible .bioleo-man2 {
    opacity: 1;
    transform: translateX(0);
}

.photo-bioleo-man1 {
    max-width: 800px;
    width: 100%;
}

.bioleo-man1 {
    display: flex;
    justify-content: flex-start;
}

.bioleo-man2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.photo-advantages1{
    max-width: 600px;
    width: 100%;
}

.box-advantages{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
    gap: 2rem;
    margin-bottom: 20px;
}

@media (max-width :820px){
    .box-advantages{
        flex-direction: column;
    }
}

.photo-document1{
    max-width: 600px;
    width: 100%;
}

.box-document{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.organization{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #355595;
}

.text-document1{
    color: #355595;
    font-size: 15px;
}

@media (max-width :930px){
    .box-document{
        display: flex;
        flex-direction: column;
    }
}

.pre-advantage1{
    color: #355595;
}

.bioleo12{
    font-size: 22px;
    font-weight: 700;
    color: #eb913b;
}